/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On phones and other small-sized devices, we want to customize some
 * of the mobile styles.
 */
@media screen and (min-width: 35.5em) {

    #sidebar {
        padding-bottom: 40%;
        height: 0;
        overflow: auto;
        background-color: #eeeeee;
    }



    #navigation {
        padding: 1em 0;
    }
}