/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On desktop and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media screen and (min-width: 64em) {

    #sidebar {
        /* position: relative; */
        height: 100%;
        overflow: auto;
        background-color: #eeeeee;
        width: 350px;
        padding-bottom: 0;
    }
    #page, #main, #main-content {
        height: 100%;
    }

    #main-content{
        width: calc(100% - 350px);
    }

}