/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media screen and (min-width: 48em) {

    /* --------------------------- */
    .pureCSS {
        background-color: green;
    }
    /* --------------------------- */

    #sidebar {
        background-color: #eeeeee;
        padding-bottom: 40%;
    }

    #page {
        left: 150px;
        position: relative;
        width: calc(100% - 150px);
    }

    #page, #main{
        height: 100%;
    }


    #navigation-wrapper {
        width: 150px;
        position: fixed;
        height: 100%;
    }

}