# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore Mac generated dummy files
*.DS_Store

# Ignore PHPStorm generated dummy files
*.idea

# ignore local settings.php
sites/formball_loc.dd/default.settings.php