/**
 *------------------------------------------------------
 *  Game board styles
 *------------------------------------------------------
 */

.game-colors {
  color: #0041FF; /* Player A */
  color: #000DF8; /* Player A Dark */
  color: #bf0000; /* Player B */
  color: #940000; /* Player B Dark */
  color: #ffc94c; /* Border lines colors */
  color: green; /* Field 1 */
  color: #138D00; /* Field 2 */
}

/**
 *======================================================
 *  GAME BOARD
 *======================================================
 */

#game-wrapper{
  width:600px;
  height: 400px;
  position: relative;
}
#game-board {
  background-color: #138D00;
  width: 100%;
  height: 100%;
  border: 4px solid #FFF;
  position: relative;
  box-sizing: border-box;
}
#game-board::before {
  content: " ";
  display: block;
  border: 4px solid #FFF;
  height: 100%;
  width: 50%;
  bottom: -1%;
  left: -1%;
  position: absolute;
}
#game-wrapper::after, #game-board::after {
  content: " ";
  display: block;
  border: 4px solid #FFF;
  height: 24%;
  width: 9%;
  bottom: 38%;
  position: absolute;
}
#game-wrapper::after {
  right: 0%;
}
#game-board::after {
  left: -1%;
}
#game-elements {
  margin: auto;
  position: relative;
  width: 80%;
  height: 80%;
  top: 6%;
  right: 5%;
}


/**
 *======================================================
 *  PLAYER
 *======================================================
 */

/* Add the gameboard class at the end */
#game-wrapper input[type="checkbox"] {
  display:block;
}

/**
 *------------------------------------------------------
 *  Box Positioning
 *------------------------------------------------------
 */

#game-wrapper input[type="checkbox"] + label span {
  display:inline-block;
  width:22px;
  height:22px;
  cursor: pointer;
  background:url(../images/player-empty.png) left top no-repeat;
}

#game-wrapper input[type="checkbox"]:hover + label span {
  background:url(../images/player-empty.png) left -22px no-repeat;
}

/**
 *------------------------------------------------------
 *  Box Colors
 *------------------------------------------------------
 */

  /* Player boxes */

input[type="checkbox"][class*=box_A]:checked + label span {
  background:url(../images/player-colors.png) left -22px no-repeat;
}

input[type="checkbox"][class*=box_A]:checked + label:hover span {
  background:url(../images/player-colors.png) left -44px no-repeat;
}

/* Opponent boxes */

input[type="checkbox"][class*=box_B]:checked + label span {
  background:url(../images/opponent-colors.png) left -22px no-repeat;
}

input[type="checkbox"][class*=box_B]:checked + label:hover span {
  background:url(../images/opponent-colors.png) left -44px no-repeat;
}

